[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pdfplumber = "0.10.2"
numpy = "1.24.4"
matplotlib = "*"
pandas = "*"
tqdm = "*"
opencv-contrib-python = "*"
label-studio-sdk = "*"
easyocr = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
